<!-- sorta ugly looking feed -->
<ul id="main-feed">
    <li class="post">
        <div class="post-person">
            <a class="post-person-profilelink" href="javascript:void(0);">
                <img class="profile-avatar" src="images/stock1.jpg">
                <strong class="profile-name">John Doe</strong>
            </a>
        </div>
        <div class="post-text">
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </li>
    <li class="post">
        <div class="post-person">
            <a class="post-person-profilelink" href="javascript:void(0);">
                <img class="profile-avatar" src="images/stock1.jpg">
                <strong class="profile-name">John Doe</strong>
            </a>
        </div>
        <div class="post-text">
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </li>
    <li class="post">
        <div class="post-person">
            <a class="post-person-profilelink" href="javascript:void(0);">
                <img class="profile-avatar" src="images/stock1.jpg">
                <strong class="profile-name">John Doe</strong>
            </a>
        </div>
        <div class="post-text">
            <p>
                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
            </p>
        </div>
    </li>
</ul>
<!-- IMPLEMENT FEED WITH HANDLEBARS LATER 
<ul id="main-feed">
    {{#each post}}
        <li>{{this}}</li>
    {{/each}}
</ul>
-->

<script src="/javascripts/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/javascripts/feed.js"></script>