<!-- sorta ugly looking feed -->
<ul id="main-feed">

    {{#each posts}}
    <li class="post">
        <div class="post-person">
            <a class="post-person-profilelink" href="javascript:void(0);">
                <img class="profile-avatar" src={{profilepic}}>
                <strong class="profile-name">{{name}}</strong>
            </a>
        </div>
        <div class="post-text">
            <p>
                {{text}}
            </p>
            <a class="btn btn-xs btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> Like!</a>
        </div>
    </li>
    {{/each}}

</ul>

<!-- IMPLEMENT FEED WITH HANDLEBARS LATER 
<ul id="main-feed">
    {{#each post}}
        <li>{{this}}</li>
    {{/each}}
</ul>
-->

<script src="/javascripts/jquery-3.1.1.js"></script>
<script type="text/javascript" src="/javascripts/feed.js"></script>