<!-- boxes where they will be able to go to groups   --> 
<div class="container" style= "text-align: center">  


   <h5>Your Groups </h5>


{{#each groups}}
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            {{groupName}}
            <img class="groupPicture" src={{groupPic}} >
         
        </div>
    </div>
{{/each}}



<!-- end of groups module-->

<!-- add group button, delete group button -->
<div>
    <!-- add group button-->
  <button class="btn btn-default" id = "addbtn">Add Group</button>
  <!-- modal when you "add group"-->
      <div id="groupmodal" class="modal">
         <!-- modal content-->
            <div class="group-modal-content">
                 <form id = "add group form">

                    <label id="groupName"> Group Name </label>
                    <input required type="text" class="form-control" id="name" placeholder="Group Name" name="group-name">

                    
                 </form>
             </div>
    </div>

                            


  <button type = "button" class = "btn btn-primary btn-lg"> Delete Group</button>
</p>
</div>
</div>
<!-- end of button -->