<!doctype html>
 <html>
 <head>
  <meta charset = "UTC-8">
  <meta name = "viewpoint" content = "disth=device-width, initial-scale = 1.0">
  <link href = "stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href = "stylesheets/bootstrap-theme.min.css" rel = "stylesheet">
  <link href = "stylesheets/groups1.css" rel="stylesheet">

 </head>
   <div class = "container">

   	<body>
      <!-- This is just a place holder for where the app name will be-->
      <div class = "jumbotron">
          <h2> Task It </h2>
      </div>

<!--BEGINNING OF NAVBAR CODE PLACE WITHIN YOUR DIV CONTAINER CLASS-->
      <div class="navbar navbar-default row"> 
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
          <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id ="collapse">
        <ul class="nav nav-pills nav-justified">
          <li><a href="/"><span class="glyphicon glyphicon-home"> Home</span></a></li>

          <li><a href="tasks"><span class="glyphicon glyphicon-tasks"> Tasks <span class="badge">3</span></span></a></li>

          <li><a href="feed"><span class="glyphicon glyphicon-list-alt"> Feed</span></a></li>

          <li class="active"><a href="groups1"><span class="glyphicon glyphicon-user"> Groups</span></a></li>
        </ul>
      </div>
    </div>
    <!-- end of navigation bar -->

    
<!-- boxes where they will be able to go to groups   --> 
<div class="container" style= "text-align: center">  
   <h5>View your groups here </h5>
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
        <img src="http://placehold.it/140x80">
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
     <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
     <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
  </div>

<!-- end of groups module-->

<!-- add group button, delete group button -->
<div>
  <p style = "text-align: center">
  <button type="button" class="btn btn-primary btn-lg">Add Group</button>
  <button type = "button" class = "btn btn-primary btn-lg"> Delete Group</button>
</p>
</div>
<!-- end of button -->

<!--jQuery needed for javascript within bootstrap to work -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!--declare javascript right near end of body so all HTML elements can load faster first -->
  <script src="javascripts/bootstrap.min.js"></script>
   	</body>

   </div>

 </html>