<!-- boxes where they will be able to go to groups   --> 
<div class="container" style= "text-align: center">  
   <h5>View your groups here </h5>
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
        <img src="http://placehold.it/140x80">
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
     <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
     <div class="col-md-4 ">
        <div class="col-md-12 well">
            Group Name
            <img src="http://placehold.it/140x80">
        </div>
    </div>
  </div>

<!-- end of groups module-->

<!-- add group button, delete group button -->
<div>
  <p style = "text-align: center">
  <button type="button" class="btn btn-primary btn-lg">Add Group</button>
  <button type = "button" class = "btn btn-primary btn-lg"> Delete Group</button>
</p>
</div>
<!-- end of button -->