<div class = "jumbotron">
	
	<div col-md-8> 
		<h3 style = "text-align:center"> Hello, John Doe </h3>
	</div>
	<hr>
	<div id = "friends" class = "panel panel-default">
		<div class = "panel-heading">
			<h3 class = "panel-title"> Top Scores <h3>
			</div>
			<div class = "panel-body">
				<div class="thumbnail">
					<a href="{{topPerson.profile}}">
						<p> {{topPerson.name}} </p>

						<div id="top-score">
							<span> Beat his score of: {{topPerson.score}} <span>
						</div>
					</a>
				</div>
				<div class = "panel-footer" >
					<div style = "text-align:right">
					<button type = "add-friend" class = "btn btn-default" id = "add-friend" >Add Friends</button>
				</div>
						<div id = "friend-modal" class = "modal">
							<div class = "friend-modal-content">

								<div id="closemodal" style = "text-align:right">
							<span class="glyphicon glyphicon-remove-circle" ></span> 
						    </div>

							<div id = "friend form">
								<label class = "search"> Find Friends </label>
								 <input required type="text" class="form-control" id="search-friend" placeholder="username" name="search-friend">

								<button class = "btn btn-default" id = "add"> Add </button>

                    		</div>
            				</div>
            		</div>
    			</div>
				</div> 
			</div>
		<div id="upcoming" class="panel panel-default">

  				<div class="panel-heading">
    				<h3 class="panel-title">Upcoming Tasks</h3>
  			    </div>
  			    {{#each upcoming}}
			 <div class="panel-body">
			 	<ul class = "upcoming-list well" > {{taskname}} </ul>
			 </div>	
			 {{/each}}
		</div>

</div>
	



