<!doctype html>
<html>
<head>
  <meta charset = "UTC-8">
  <meta name = "viewpoint" content = "disth=device-width, initial-scale = 1.0">
  <link href = "../public/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href = "../public/stylesheets/bootstrap-theme.min.css" rel = "stylesheet">
  <link href = "../public/stylesheets/login.css" rel = "stylesheet">
 

 </head>

 <body>

 <div class = "jumbotron">
          <h2 style = "text-align:center"> Task It </h2>
      </div>
<div class = "container" style = "max-width: 50%" style = "align: center"  >
      <div class="panel panel-default" >
  	<div class="panel-heading" style = "text-align: center">Log In</div>
 		 <div class="panel-body">


 		 	<form>
<!--USERNAME-->
  			<div class="form-group">
   			<div class = "input-group email" >
    		<input type="text" class="form-control" placeholder="Email Address" id="email">
			<span class = "input-group-addon">
 		 				<span class="glyphicon glyphicon-user"></span>
 			 </div>
 			</div>

<!--PASSWORD-->
 			 <div class="form-group">
  			  <div class = "input-group password">
   			 <input type="text" class="form-control" placeholder = "Password" id="pwd">
   			 
   			 	<span class="input-group-addon">
   			 		<span class="glyphicon glyphicon-lock"></span>
   			 </span>
   			</div>
<!--CONFIRM PASSWORD-->
  			</div>
  			<div class = "form-group">
  			<input type = "conf-pwd" class = "form-control" placeholder = "Confirm Password"id="conf-pwd">
  		</div>

<!--SUBMIT/RESET BUTTONS-->
 		 <button type="submit" class="btn btn-default" id = "loginbtm" >Submit</button>
 		 <button type = "reset" class = "btn btn-default" id = "loginbtm">Reset</button>

		</form>


 		 </div>
		</div>
	</div>

 	<!--jQuery needed for javascript within bootstrap to work -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!--declare javascript right near end of body so all HTML elements can load faster first -->
  <script src="javascripts/bootstrap.min.js"></script>
 
	</body>

	</html>

