<script type="text/javascript">
    alert("Please enter a correct email or password");
</script>
<form id="loginForm" role="form" method="get" action="/loginSubmit">
    <!--USERNAME-->
    <div class="form-group">
        <div class="input-group email">
            <input type="text" class="form-control" placeholder="Email Address" id="email" name="email">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
        </div>
    </div>
    <!--PASSWORD-->
    <div class="form-group">
        <div class="input-group password">
            <input type="text" class="form-control" placeholder="Password" id="pwd" name="password">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
            </span>
        </div>
    </div>
    <!--SUBMIT/RESET BUTTONS-->
    <input type="submit" id="submitBtn" class="btn btn-default" value="Submit"></input>
    <input type="submit" id="submitBtn" class="btn btn-default" value="Reset"></input>
</form>
