<form>
    <!--USERNAME-->
    <div class="form-group">
        <div class="input-group email">
            <input type="text" class="form-control" placeholder="Email Address" id="email">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-user"></span>
        </div>
    </div>
    <!--PASSWORD-->
    <div class="form-group">
        <div class="input-group password">
            <input type="text" class="form-control" placeholder="Password" id="pwd">
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-lock"></span>
            </span>
        </div>
    </div>
    <!--SUBMIT/RESET BUTTONS-->
    <a class="btn btn-default" href="/">Submit</a>
    <button type="reset" class="btn btn-default" id="loginbtm">Reset</button>
</form>
