			<div class="container">

			<!--START OF TO DO TASKS MODULE -->
				<div class = "row">
					<div class = "col-xs-12 ">
						<h2> To Do </h2>
						<div class="well" >
        		<ul class="list-group checked-list-box">
        			<div>
                  <li class="list-group-item"> Task 1 <button class="check-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok-circle"></span></button>
                  <button class = "edit item btn btn-default btn-xs pull-right" ><span class = "glyphicon glyphicon-edit"></span></button></li>

              </div>
              <div>

                  <li class="list-group-item" > Task 1
                   <button class="check-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok-circle"></span></button>
                   <button class = "edit item btn btn-default btn-xs pull-right" ><span class = "glyphicon glyphicon-edit"></span></button> </li>

              </div>
              <div>
              	<li class="list-group-item"> Task 1 <button class="check-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-ok-circle"></span></button>

              	<button class = "edit item btn btn-default btn-xs pull-right" ><span class = "glyphicon glyphicon-edit"></span></button></li>
              </div>
                  
                </ul>

                <div class = "addTask" style = "text-align:center">
               <!-- Trigger/Open the add task modal -->
               	<button id="addBtn"> Add task </button>
				<!-- When open the add task modal -->
					<div id = "addModal" class = "modal">

						<!-- open add modal content -->
						<div class = "add-modal-content">
							<div id = "closemodal" style = "text-align:right">
							<span class="glyphicon glyphicon-remove-circle" ></span> 
						    </div>
							<h4> New Task </h4>
							<p> Here is were user will input task </p>
							<span class = "add"> Add </span>  
							
						</div>
					</div> 
            </div>
				</div>
			</div>
		</div>
		<!-- ENDS OF TO DO MODULE -->

			<!--START OF DONE TASKS MODULE -->
			<div class = "row">
				<div class = "col-xs-12">
					<h2> Done </h2>
					<div class = "well">
						<ul class="list-group checked-list-box">
        			<div>
                  <li class="list-group-item" style = "text-decoration: line-through" data-style="button"> Task 1 <button class= "remove-item btn btn-default btn-xs pull-right"><span class="glyphicon glyphicon-remove-sign"></span></button></li> 
			       
          		</ul>
				</div>
				</div>
				</div>
			<!-- END OF DONE TASK MODULE-->
</div>